#video {
  position: absolute;
  left: 0;
  top: 0;
  height: 720;
  width: 1280;
}

#overlay {
  height: 720px;
  width: 1280px;
  position: absolute;
  left: 0;
  top: 0;
}

.playerCanvas {
  height: 288px;
  width: 512px;
}

#controls {
  position: absolute;
  top: 730px;
  left: 0px;
  padding: 10px;
  padding-top: 0px;
}

.hidden {
  display: none;
}

.disabled {
  color: grey;
}
